.navbar{
	position:static;
	width:100%;
	height:3em;
	display:flex;
	justify-content: center;
	background-color:89C01B;
	overflow:hidden;
}
.navbar ul {
	list-style-type:none;
	margin:0 auto;
	width:auto;
	height:auto;
	padding:0px;
}
.navbar ul li{
	display:inline-block;
	height:3em;
	display:inline-flex;
	align-items:stretch;
	align-content:center;
}
.navbar ul li:hover, .active-link {
	background-color:6B9B0B;
	transition: background-color .2s;
	-webkit-transition: background-color .2s;
}
.navbar ul li a{
	padding:.5em 1.25em;
	color:white;
	font-size:1.25em;
	height:100%;
	text-decoration: none;
}

.content{
	width:65%;
	margin:auto;
	padding-top:2em;
}


@media screen and (max-width:480px){
	.navbar{
		
	}

	.content{
		width:90%;
	}
}



/* Body and content styles */
* {
	margin:0px;
	padding:0px;
}

body {
	background-color:#A3D541;
}

.container {
	width:100%;
}

.button {
	background-color:#CE591D;
	padding:0.5em;
	border-radius:5%;
	color:white;
	font-size:1.25em;
	text-decoration: none;
}
.button:hover{
	background-color:#A7400C;
	transition: background-color .2s;
	-webkit-transition: background-color .2s;
}